._2iqe ._3sts{width:200px}
.sp_NWVF-6j9tAG{background-image:url(/rsrc.php/v3/y1/r/UULlGtQMaOJ.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_NWVF-6j9tAG.sx_3fe78b{background-position:0 0}.sp_NWVF-6j9tAG.sx_164825{background-position:0 -17px}

#bootloader_WxrBa{height:42px;}.bootloader_WxrBa{display:block!important;}