._4x1e{list-style-type:none}._61t-{border-top:1px solid #e5e5e5;list-style:none;padding-bottom:12px;padding-top:12px;position:relative}._61t-:last-child{border-bottom:1px solid #e5e5e5}._4x1g{margin-left:-5px}._4x1h{margin-left:44px}._4x1i{float:left}

#bootloader_6Wre7{height:42px;}.bootloader_6Wre7{display:block!important;}